*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
/_windows
/inspection
/other.xml
/IntelliLang.xml
/filetypes.xml
/editor.codeinsight.xml
/debugger.xml
/gradle.run.settings.xml
/RealtimeCurrencyRates.iml